
h1 {
    text-align: center;
}

.bob {
    display: flex;
    justify-content: space-evenly;
}

p {
    font-size: 32px;
    margin: 16px;
}

button {
    font-size: 32px;
    border: none;
    background-color: transparent;
}
