* {
    text-align: center;
}

#dashboard {
    display: flex;
    justify-content: space-evenly;
}

#bux {
    font-size: 32px;
    margin: 16px;
}

#pp {
    font-size: 32px;
    border: none;
    background-color: transparent;
}

/* STORE */

#store button {
    background-color: transparent;
    border: none;
}

#store .sock_emoji {
    margin: 2px;
    font-size: 32px;
    /*border: none;*/
    background-color: transparent;
}

#store .sock_price {
    margin: 2px;
    font-size: 18px;
}

@keyframes FadeIn {
    from {
        translate: -8px;
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

#store {
    animation: FadeIn 0.33s;
}