
* {
    text-align: center;
}

p {
    font-size: 32px;
    display: inline;
    margin: 5%;
}

button {
    font-size: 32px;
    display: inline;
    border: none;
    background-color: transparent;
}